body{
    display:flex;
    height:100vh;
    overflow: hidden;
    position: relative;
}
div.details{
    position:relative;
    align-items: center;
    padding:20px;
   top:-10px;
   left:-5px;
    background:black;
    border-right: 2px solid skyblue;
    height:100%;
    width:200px;
    opacity: .9;
}
div.box{
    position: relative;
    top:150px;
    
    display:block;
}
div.detailslink{
   position: relative;
    margin:10px 0;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    
    
}
.detailslink a{
    position:relative;
    font-size: 19px;
    color:white;
    text-decoration: none;
    transition:0.5s;
    left:27px;
}
.title h2{
    position:absolute;
    color:white;
    font-size: 17px;
    top:25px;
    left:60px;

}
.icon img{
    height:60px;
    width:60px;
}
div.title_img{
    position:fixed;
    z-index: 100;
    top:75px;
    margin-bottom:5px;
    
}
.detailslink:hover{
    
    
    border-right: 5px solid #f06292;
}
.detailslink a:hover{
    color:#f06292;
}
.icon2{
    position:relative;
    top:20px;
    padding-top: 0px;;

}
.icon2 img{
    height:15px;
    width:15px;
}
